
  .blog-post{
    /* flex-basis: 23%; */
    margin: 20px 20px;
    box-shadow: 0px 0px 10px 3px lightgray;
    text-align: center;
    background-color: white;
    transition: transform 0.2sec;
    border-radius: 10px;
    
  }
  .blog-post:hover {
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
   .blog-post__category{
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
   }


.blog-post img {
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.blog-post__like-button{
  margin-right: 10px;
}
.blog-post__title{
  font-size: 14px;
}