.blog-post__like-button {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blog-post__like-button:hover {
  background-color: #d32f2f;
}

.blog-post__like-button:active {
  background-color: #b71c1c;
}

img {
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card {
  /* flex-basis: 23%; */
  margin: 20px 20px;
  box-shadow: 0px 0px 10px 3px lightgray;
  text-align: center;
  background-color: white;
  transition: transform 0.2sec;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size:14px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size:14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}
.title:hover{
  cursor: pointer;
  color: rgb(0, 255, 153);
}