/* CSS for the form container */
.form-ctn{
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 700px;
    background-color: aliceblue;
  }
  
  /* CSS for the form elements */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"]
  {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .form{
      max-width: 700px;
      margin: 0 auto;
      background-color: rgb(198, 196, 192);
    padding: 10px;
    box-shadow: 4px 8px 8px rgb(237, 217, 203);
    min-height: 500px;

  }
  .frm{
    width: 100%;
    height:500px;
  }

  .msg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 780px;
  }
  
  .msg h4 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 12px 24px;
   outline: auto;
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #1e65c9;
  }
  