.home {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  margin-top: 20px;
}

.left {
  width: 70%;
}

.right {
  width: 25%;
}

/* Add a vertical line between left and right */
.home::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: #ccc; /* Adjust the color as needed */
  margin-left: 5px; /* Adjust the margin as needed */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .left,
  .right {
    width: 100%; /* Full width on small screens */
    margin-top: 20px; /* Add some space between left and right divs */
    flex-direction: row;
  }

  .home::after {
    content: none; /* Hide the vertical line on small screens */
  }
}
